**/bin/
**/obj/
**/node_modules
**/npm-debug.log

**/.vscode/
**/.github/

**/*.md
**/docker-compose*
**/Dockerfile*

**/.editorconfig
**/.env
**/.env.example
**/.gitattributes
**/.gitignore

LICENSE
README.md
tests/
